<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Paths</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.facetheheat.paths</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>Paths.scpt</string>
			<key>LBReturnsResult</key>
			<false/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBDownload</key>
		<string>https://github.com/facetheheat</string>
		<key>LBTwitter</key>
		<string>@previewthenew</string>
		<key>LBSummary</key>
		<string>Paths: copy a file path to the clipboard</string>
		<key>LBAuthor</key>
		<string>Pavel Miroshnichenko</string>
		<key>LBEmail</key>
		<string>pavel@miroshnichen.co</string>
		<key>LBWebsite</key>
		<string>http://pavel.miroshnichen.co</string>
	</dict>
</dict>
</plist>
