<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LBTextInputTitle</key>
	<string>Copy friend&apos;s name to the clipboard</string>
	<key>LBDebugLogEnabled</key>
	<false/>
	<key>CFBundleName</key>
	<string>Skype: Copy name to the clipboard</string>
	<key>CFBundleIconFile</key>
	<string>com.skype.skype</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.facetheheat.skypecopyclipboard</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<false/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBScriptName</key>
			<string>suggestions.py</string>
			<key>LBReturnsResult</key>
			<false/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Skype: Copy name to the clipboard</string>
		<key>LBAuthor</key>
		<string>Pavel Miroshnichenko</string>
		<key>LBEmail</key>
		<string>facetheheat@icloud.com</string>
		<key>LBWebsite</key>
		<string>https://github.com/facetheheat</string>
	</dict>
</dict>
</plist>
